mat-card-header {
    border-bottom: solid 1px green;
    justify-content: center;
}

mat-card-content {
    text-align: -webkit-center;
    height: 180px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

mat-card-actions {
  border-top: solid 1px green;
  button{
    width: 50%;
    margin: 0px;
  }

}

mat-card {
  width: 99%;
  height: 99%;
}

mat-button-toggle-group {
  font-weight: 500;
  margin-right: 30px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.example-margin {
  margin: 0 10px;
}

.tab-content {
  margin-top: 30px;
  overflow: auto;
}